@import url('https://fonts.google.com/share?selection.family=Open+Sans:ital,wght@0,300..800;1,300..800');
:root{
--background-color:#fbfbfb;
--green-background-color:#153E52;
--dark-green-color:#113448;
--light-green-color:#14BF98;
--dark-gray-color:#484A46;
--light-gray-color:#787976;
--white:#FFFFFF;
--disabled-color:#E9ECEF;
--dark-white-color:#DFE5EC;
--light-gray-border-color:#EBE8E8;
--form-input-bgcolor:#2A5D77;
--form-input-color-border:#39728F;
--image-contrast:60%;
--image-grayscale:25%;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
h1,h2,h3,h4,h5,h6,p,span,button,li,input,textarea,label,select,option{
    font-family: 'Open Sans' ,sans-serif;
    margin: 0;
    padding: 0;
}

nav img{
    height:4rem;
}
nav a{
    text-decoration: none;
    color: var(--white-color);
    transition: color 0.3s ease-in-out;
}
nav a:visited{
    color: var(--white);
}
nav{
    display: flex;
    flex-direction: row;
gap:5px;
position: fixed;
justify-content: space-between;
width: 100vw;
top: 0;
left: 0;
padding: 1rem 3rem;
box-sizing: border-box;
align-items: center;
color: var(--white);
z-index: 100;
backdrop-filter: blur(10px) grayscale(var(--image-grayscale)) contrast(var(--image-contrast));
}
nav ul{
    display: flex;
    flex-direction: row;
    gap:2rem;
    margin: 0;
    padding: 0;
    list-style:none;
    text-transform: uppercase;
}
nav .mobile-menu{
    display: none;
}
nav ul .icon{
    background-color: var(--light-green-color);
    padding: 0.75rem;
    cursor: pointer;
    clip-path: polygon(0 25%,0 75%, 50% 100%,100% 75%,100% 25%,50% 0%);
}
nav ul .icon:hover{
    background-color: var(--white);
}
nav ul .icon:hover a{
    color: var(--light-green-color);
}
nav a:hover{
    color: var(--light-green-color);
}
button{
    cursor: pointer;
    border: 1px solid var(--light-gray-color);
    background-color: var(--light-green-color);
    color: var(--white);
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all 0.125s ease-in-out;
    font-weight: 700;
    letter-spacing: 0.3ch;
    font-size: 0.75rem;
}
button :hover{
    background-color: transparent;
color: var(--light-green-color);
}
.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./assets/home_bg.jpg');
    background-size: cover;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    color: var(--white);
    gap:1.5rem;
}
.home h1{
    text-transform: uppercase;
    font-size: 4rem;

}
.home p{
    font-size: 1.5rem;
    width: 50%;
}
.intro{
    padding: 5rem 20vw;
    background-color: var(--white);
}
.intro .content{
    display: flex;
    flex-direction: row;
    gap:2rem;
}
.intro.content.text{
    flex-shrink: 0;
    width: 40%;
    padding-right: 2rem;
    box-sizing: border-box;
}
.intro .content img{
width: 100%;
height: 100%;
object-fit: cover ;
border-radius: 5px;
transition: transform 0.3s ease-in-out;

}
.intro .content img:hover{
    transform: scale(1.5);
}
.intro .content .image-container{
width: 60%;
flex-shrink: 0;
overflow: hidden;
border-radius: 5px;
filter: grayscale(25%);
cursor: pointer;
}
.intro.content.text h3{
    font-size: 2rem;
    color: var(--dark-gray-color);
}
.intro.content.text h4{
    color: var(--dark-gray-color);
    line-height: 2rem;
}
.intro.content.text p{
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--light-gray-color);
}
.section-title{
    color: var(--light-green-color);
    text-transform: uppercase;
    padding: 1rem 0px;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.green-text{
    color: var(--light-green-color);
}
.intro .skill-list-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
}
.intro .skill-list-container .skill-item{
width: 30%;
line-height: 1.5rem;
color: var(--light-gray-color);
}
.intro .skill-list-container .skill-item span{
        background-color: var(--light-green-color);
        padding: 2rem;
        font-size:2rem;
        color: var(--white);
        clip-path: polygon(0 25%,0 75%, 50% 100%,100% 75%,100% 25%,50% 0%);
     margin-bottom: 1rem;
     display: inline-block;
    }
.intro .skill-list-container .skill-item h4{
    font-size: 1.5rem;
    color: var(--dark-gray-color);
}
.intro .skill-list-container .skill-item p{
    color: var(--light-gray-color);
}
.services{
    padding: 5rem 0;
}
.services > span{
    display: block;
    text-align: center;
}
.services>h3{
    text-align: center;
    font-size: 1.75rem;
    color: var(--dark-gray-color);
}
.services .service-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 20vw;
    align-items: start;
}
.services .service-list-container .service-item{
    width: 30%;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--light-gray-border-color);
    border-radius: 5px;
    background-color: var(--white);
}
.services .service-item img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    filter: grayscale(50%)contrast(60%);
    border-radius: 5px 5px 0 0;
}
.services .service-item h4{
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-gray-color);
    padding: 0.5rem 2rem;
}
.services .service-item p{
    line-height: 1.5rem;
    padding: 0.5rem 2rem;
    color: var(--light-gray-color);
}
.services .service-item ul{
    line-height: 1.rem;
    padding: 0.5rem 2rem;
    color: var(--light-gray-color);
    list-style-type: none;
}
.services .service-item ul li{
    font-size: 0.9rem;
    
}
.services .service-item ul li::before{
content: '\25a0';
color: var(--light-green-color);
margin-right: 5px;
font-size: 1.25rem;
}
.services .service-item h6{
    font-size: 1.2rem;
    color: var(--dark-gray-color);
    text-align: center;
    padding: 0.5rem 2rem;
}
.services h6 .price{
color: var(--light-green-color);
}
.services .service-item button{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%,50%);
}
.services .service-item button:hover{
    background-color: var(--white);
    color: var(--light-green-color);
}
.services .propositions{
    display: flex;
flex-direction: row;
align-items: stretch;
background-color: var(--white);
}
.services .propositions img{
    width: 50%;
    filter: grayscale(25%) contrast(60%);
    min-height: 35rem;
    object-fit: cover;
    object-position: center;
}
.services .propositions .content{
    width: 50%;
    flex-shrink: 0;
}
.services .propositions-1 .content{
padding: 5rem 20vw 5rem 5rem;
box-sizing: border-box;
}
.services .propositions-1 h4{
    color: var(--dark-gray-color);
    cursor: pointer;
    font-size: 1.25rem;
    transition: color 0.125s ease-in-out;
}
.services .propositions-1 p{
    padding-left: 3rem;
}
.services .propositions-1 h4.active,.services .propositions-1 h4:hover{
    color: var(--light-green-color);
}
.services .propositions-1 h4 span{
    border-radius: 50%;
    padding: 0 0.6rem;
    border: 2px solid var(--dark-gray-color);
    color: var(--dark-gray-color);
    margin-right: 0.5rem;
    transition: all 0.125s ease-in-out;
}
.services .propositions-1 h4:not(.active):hover span{
    border-color: var(--light-green-color);
    color: var(--light-green-color);
}
.services .propositions-1 h4.active span{
    border: 2px sloid var(--light-green-color);
    background-color: var(--light-green-color);
    color: var(--white);
}
.services .propositions-2 .content{
    padding: 5rem  5rem 5rem 20vw;
    box-sizing: border-box;
    }
    .services .propositions h3{
        font-size: 1.5rem;
        color: var(--dark-gray-color);
    }
    .services .propositions p{
        line-height: 1.5rem;
        color: var(--light-gray-color);
    }
    .services .propositions-2 .category-list-container{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .services .propositions-2 .category-item h3{
        color: var(--light-gray-color);
        transition: all 0.125s ease-in-out;
        cursor: pointer;
    }
    .services .propositions-2 .category-item h3:hover,.services .propositions-2 .category-item h3.active{
        color: var(--light-green-color);
    }
    .services .propositions-2 .skill-list-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 2rem;
    }
    .services .propositions-2 .skill-item h6{
        color: var(--dark-gray-color);
      font-size: 1rem;
    }
    .services .propositions-2 .skill-item .progress-bar{
         height: 1.5rem;
         background-color: var(--light-green-color);
         border-radius: 5px;
         margin-top: 0.5rem;
         width: 0;
    }
    .services .propositions-2 .skill-item .progress-bar.p-100{
         width: 100%;
    }
    .services .propositions-2 .skill-item .progress-bar.p-76{
        width: 76%;
    }
    .services .propositions-2 .skill-item .progress-bar.p-90{
        width: 90%;
    }
    .services .testimonials{
        padding: 5rem 20vw;
    }
    .services .testimonials h3{
        color: var(--dark-gray-color);
       text-align: center;
      font-size: 1.75rem;
   
    }
    .services .testimonials p{
        color: var(--light-gray-color);
      text-align: center;
    
      
    }
    .services .testimonial-list-container{
        display: flex;
         flex-direction: row;
         gap: 2.5rem;
         padding: 3rem 0;
         overflow-x: scroll;
 }
 .services .testimonial-item{
     width: 25%;
     display: flex;
   gap:1rem;
     flex-grow: 0;
     flex-shrink: 0;
     flex-direction: column;
     align-items: center;
 }
 .services .testimonial-item img{
    width: 6rem;
    border-radius: 50%;
 }
 .services .testimonial-item p{
    line-height: 1.5rem
    color: var(--light-gray-color);
 }
 .services .testimonial-item h4{
    color: var(--dark-gray-color);
 }
 .call_me{
    background-color: var(--dark-green-color);
    padding: 5rem 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .call_me .content, .call_me .form{
        width:50% ;
        flex-grow: 0;
        flex-shrink: 0;
        color: var(--white);
 }
 .call_me .content h3{
    font-size: 1.75rem;
 }
 .call_me .content p{
    line-height: 1.5rem;
    color: var(--light-gray-border-color);
 }
 .call_me .content ul{
    padding: 0;
    list-style-type: none;
 }
 .call_me .content ul li::before{
    content: '\25a0';
color: var(--light-green-color);
margin-right: 5px;
font-size: 1.25rem;
 }
 .call_me form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
 }
 .call_me form .terms-container label{
color: var(--light-gray-border-color);
font-size: .95rem;
 }
 .call_me form input,.call_me form select{
    background-color: var(--form-input-bgcolor);
    color: var(--white);
    border: 1px solid var(--form-input-color-border);
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
 }
 .projects{
    padding: 5rem 20vw;
    background-color: var(--white);
 }
 .projects > span, .projects > h3{
    display: block;
    text-align: center;
 }
 .projects > h3{
    color: var(--dark-gray-color);
    font-size: 1.75rem;
 }
 .projects .category-list-container ul{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1rem;
overflow-x: scroll;
padding: 3rem 0 1rem;
list-style-type: none;
 }
 .projects .category-list-container ul button{
    background-color: var(--light-gray-border-color);
    color: var(--dark-gray-color);
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
   
 }
 .projects .category-list-container ul button:hover,.projects .category-list-container ul button.active{
    background-color: var(--light-green-color);
    color: var(--white);
 }
 .projects .project-list-container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3rem; 
 }
 .projects .project-list-container h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    transition: opacity 0.125s ease-in-out;
    font-size: 1.5rem;
    color: var(--white);
    opacity: 0;
 }
 .projects .project-list-container .project-item {
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
    transition: transform 0.125s ease-in-out;
    cursor: pointer;
 }
 .projects .project-list-container .project-item-container{
    overflow: hidden;
    position: relative;
 }
 .projects .project-list-container .project-item:hover{
    transform: scale(1.2);
    filter: contrast(var(--image-contrast)) grayscale(var(--image-grayscale));
 }
 .projects .project-list-container .project-item:hover ~ h3 , .projects .project-list-container  h3:hover{
    opacity: 1;
 }
 .projects .project-item.p-1{
    background-image: url('./assets/project1.jpg');
 }
 .projects .project-item.p-2{
    background-image: url('./assets/project2.jpg');
 }
 .projects .project-item.p-3{
    background-image: url('./assets/project3.jpg');
 }
 .projects .project-item.p-4{
    background-image: url('./assets/project4.jpg');
 }
 .projects .project-item.p-5{
    background-image: url('./assets/project5.jpg');
 }
 .projects .project-item.p-6{
    background-image: url('./assets/project6.jpg');
 }
 .projects .project-item.p-7{
    background-image: url('./assets/project7.jpg');
 }
 .projects .project-item.p-8{
    background-image: url('./assets/project8.jpg');
 }
 .team{
    padding: 5rem 20vw;
    background-color: var(--background-color);
 }
 .team > h3{
   color: var(--dark-gray-color);
   font-size: 1.75rem;
   text-align: center;
 }
 .team >p{
    color: var(--light-gray-color);
    text-align: center;
    line-height: 1.5rem;
 }
 .team .team-member-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0;
 }
 .team .team-member-list-container .team-member-item{
    width: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
 }
 .team .team-member-item .profile-picture{
    width: 100%;
   margin-bottom: 1rem;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    overflow: hidden;
 }
 .team .team-member-item .profile-picture img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.25s ease-in-out ;
 }
 .team .team-member-item .profile-picture img:hover{
    transform: scale(1.25);
 }
 .team .team-member-item p{
    color: var(--light-gray-color);
    line-height: 1.5rem;
 }
 .team .team-member-item h5{
    color: var(--dark-gray-color);
    font-size: 1.14rem;
    text-align: center;
 }
 .team .team-member-item .social-links{
    margin-top: 1rem;
 }
.team .team-member-item .social-links span{
    background-color: var(--light-green-color);
    padding: 0.75rem;
    color: var(--white);
    cursor: pointer;
    clip-path: polygon(0 25%,0 75%, 50% 100%,100% 75%,100% 25%,50% 0%);
    transition: all 0.125s ease-in-out;
}
.team .team-member-item .social-links span:hover{
    background-color: var(--white);
    color: var(--light-green-color);
}
.about{
    padding: 5rem 20vw;
    background-color: var(--white);
    display: flex;
}
.about >img{
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 5px;
    filter: contrast(var(--image-contrast)) grayscale(var(--image-grayscale));
}
.about .content{
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    padding-left: 3rem;
}
.about .content h3{
    color: var(--dark-gray-color);
    font-size: 1.75rem;
}
.about .content p{
    color: var(--light-gray-color);
    line-height: 1.5rem;
}
.about .content ul{
    color: var(--light-gray-color);
    list-style-type: none;
    padding: 0;
}
.about .content ul li::before{
    content: '\25a0';
    color: var(--light-green-color);
    margin-right: 5px;
    font-size: 1.25rem;
    }
.about .content .stat-list-container{
        display: flex;
        padding: 1.5rem 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
.about  .stat-list-container .stat-item{
    width: 30%;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about .stat-item .num{
    font-size: 2.5rem;
    color: var(--light-green-color);
    font-weight: 700;
}
.contact{
    padding: 5rem 20vw;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
}
.contact .content, .contact .form{
    width: 45%;
    flex-shrink: 0;
    flex-grow: 0;
}
.contact .content h3{
    color: var(--dark-gray-color);
    font-size: 1.75rem;
}
.contact .content h4{
    color: var(--dark-gray-color);
    font-size: 1.5rem;
}
.contact .content p {
    color: var(--light-gray-color);
    line-height: 1.5rem;
}
.contact .content p  i{
    color: var(--light-green-color);
    margin: 0  0.5rem;
}
.contact .content .contact-info-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem ;
}
.contact .content .social-link-list-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem ;
}
.contact  .social-link-list-container .social-link-item{
    background-color: var(--light-green-color);
    padding: 0.75rem;
    color: var(--white);
    cursor: pointer;
    clip-path: polygon(0 25%,0 75%, 50% 100%,100% 75%,100% 25%,50% 0%);
    transition: all 0.125s ease-in-out;
}
.contact  .social-link-list-container .social-link-item:hover{
    background-color: var(--white);
    color: var(--light-green-color);
}
.contact .form form{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap:1rem;
    font-size: 0.85rem;
}
.contact input, .contact textarea{
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--light-gray-border-color);
    background-color: var(--white);
    color: var(--dark-gray-color);
}
.contact form label{
    color: var(--light-gray-color);
    line-height: 1.5rem;
}
footer{
    padding: 5rem 20vw;
    background-color: var(--dark-green-color);
    color: var(--white);
}
footer .footer-list-container{
    display: flex;
    flex-direction: row;
    gap: 2rem ;
    justify-content: space-between;
}
footer .footer-list-container .footer-item.wide{
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
}
footer .footer-list-container .footer-item{
    width: 15%;
    flex-shrink: 0;
    flex-grow: 0;
}
footer .footer-list-container h5 {
    color: var(--white);
    font-size: 1.3rem;
    line-height: 1.3rem;
}
footer .footer-list-container p{
    line-height: 1.5rem;
    color: var(--dark-white-color);
}
footer a{
    display: block;
}
footer a,footer a:visited{
    color: var(--dark-white-color);
    line-height: 2rem;
}
footer .copyright{
    padding-top:3rem ;
    text-align: center;
    line-height: 1.5rem;
    color:var(--dark-white-color) ;
}
@media screen and (max-width:950px){
    .services .service-list-container .service-item{
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
    }
   .services  .service-list-container {
        flex-direction: column;
        gap: 3rem;
    }
    .about  .stat-list-container .stat-item{
        flex-wrap: wrap;
    }
    footer .footer-list-container .footer-item.wide{
        width: 100%;
        flex-shrink: 0;
        flex-grow: 0;
    }
    footer .footer-list-container .footer-item{
        width: 25%;
        flex-shrink: 0;
        flex-grow: 0;
    }
    footer .footer-list-container{
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media screen and (max-width:900px) {
    nav ul{
        display: none;
    }
    nav .mobile-menu{
        display: initial;
    }
    .intro .content, .intro .skill-list-container{
        flex-wrap: wrap;
    }
    .intro .content .text, .intro .content .image-container, .intro .skill-list-container .skill-item{
        width: 100%;
        padding: 0;
    }
    .intro .skill-list-container .skill-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin: 1rem 0;
    }
    .services .testimonial-item{
        width: 40%;
    }
    .services .propositions{
    flex-direction: column;
    }
    .services .propositions .propositions-2{
        flex-direction: column-reverse;
        }
    .services .propositions img{
        width: 100%;
    }
    .services .propositions .content{
        width: 100%;
        padding: 5rem;
    }
    .call_me .content, .call_me .form{
        width: 100%;
    }
    .call_me{
        flex-direction: column;
        gap: 3rem;
    }
    .projects .project-list-container{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    .team .team-member-list-container .team-member-item{
        width: 45%;
    }
    .team .team-member-list-container{
        flex-wrap: wrap;
        gap: 2rem;
    }
    .about >img, .about > .content{
        width: 100%;
        padding: 0;
    }
    .about{
        flex-direction: column;
        gap: 3rem;
    }
    .contact .content, .contact .form{
        width: 100%;
    }
    .contact{
        flex-direction: column;
        gap: 3rem;
    }
}
@media screen and (max-width:650px){
    footer .footer-list-container .footer-item{
        width: 100%;
        flex-shrink: 0;
        flex-grow: 0;
    }
    
}
@media screen and (max-width:600px){
    .services .testimonial-item{
        width: 65%;
    }
    
}
